version: 2.1
orbs:
  # orbs contain basc recipes and reproducible actions (install node, aws, etc.)
  # node: circleci/node@4.1.0
  # aws-cli: circleci/aws-cli@1.3.1
  node: circleci/node@5.0.1
  aws-cli: circleci/aws-cli@2.1.0
  # different jobs are calles later in the workflows sections
jobs:
  build:
    docker:
    # the base image can run most needed actions with orbs
      - image: "cimg/base:stable"
    steps:
      - node/install
      - checkout
      - aws-cli/setup
      # install dependencies in both sides
      - run:
          name: Install Backend-Packages
          command: |
            npm run install-backend
      - run:
          name: Install Frontend-Packages
          command: |
            npm run install-frontend
      # build both sides
      - run:
          name: Build Backend
          command: |
            npm run build-backend
      - run:
          name: Build Frontend
          command: |
            npm run build-frontend
  deploy_the_backend:
    docker:
    # the base image can run most needed actions with orbs
      - image: "cimg/base:stable"
    steps:
      - node/install
      - checkout
      - aws-cli/setup
      - node/with-cache:
            steps:
                - run:
                    name: Installing deployment dependencies
                    command: |
                      sudo apt-get -y -qq update
                      sudo apt-get install python-pip python-dev build-essential
                      sudo pip install --upgrade setuptools
                      sudo pip install awsebcli --upgrade
                # deploy back-end & front-end
                - run:
                    name: deploy Backend
                    command: |
                      npm run deploy-backend
  deploy_the_frontend:
    docker:
    # the base image can run most needed actions with orbs
      - image: "cimg/base:stable"
    steps:
      - node/install
      - checkout
      - aws-cli/setup
      - run:
          name: deploy Frontend
          command: |
            npm run deploy-frontend

workflows:
  version: 2
  Build_And_Deploy:
    jobs:
      - build
      - deploy_the_backend:
          requires:
            - build
      - deploy_the_frontend:
          requires:
            - deploy_the_backend